@import url('https://fonts.googleapis.com/css?family=Assistant:400,800');

body {
	background-color: #b2b8c8;
	font-family: 'Assistant', 'Montserrat', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
